@page
@model IndexModel
@{
    ViewData["Title"] = Model.AppInfo?.SiteName??"[Missing]";
    ViewData["MachineInfo"] = @Model.MachineInfo;
    ViewData["AppVersion"] = @Model.AppVersion;
}

<div class="text-center">
    <h1 class="display-4">@Model.AppInfo?.Title</h1>
    <h2>@Model.MyCatFact.fact</h2>
    <p></p>
    <img src="@Model.CatImagePath" width="300px" />
</div>