@page
@model IndexModel
@{
    ViewData["Title"] = Model.AppInfo?.SiteName??"[Missing]";
    ViewData["MachineInfo"] = @Model.MachineInfo;
    ViewData["AppVersion"] = @Model.AppVersion;
}

<div class="text-center">
    <h1 class="display-4">@Model.AppInfo?.Title</h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">RunId</th>
                <th scope="col">Task</th>
                <th scope="col">Host</th>
                <th scope="col">Result</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.TaskResults)
            {
                <tr>
                    <th scope="row">
                        @Html.DisplayFor(m=>result.RunId)
                    </th>
                    <td>
                        @Html.DisplayFor(m=>result.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(m=>result.Host)
                    </td>
                    <td>
                        @Html.CheckBoxFor(m=>result.Success)
                    </td>
                    <td>
                        @Html.DisplayFor(m=>result.Message)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>